@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  @font-face {
    font-family: "Mona Sans";
    src: url("/Mona-Sans.woff2") format("woff2 supports variations"),
      url("/Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.combat {
  /* Fallback: assume this color ON TOP of image */
  background: url("/combat.png") repeat 2%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.combatsmall {
  /* Fallback: assume this color ON TOP of image */
  background: url("/combat.png") repeat 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-wombatbig {
  background-image: url("/robot1.png");
  background-size: 60rem;
  background-position: 160%;
  background-repeat: no-repeat;
}

.bg-screwdriver {
  background-size: 40rem;
  background-position: 100% -8rem;
  background-repeat: no-repeat;
}

.in-screen::after {
  
  animation: slidin 2.5s ease-in forwards;
  animation-delay: 1s;
}

.in-screen {
  text-align: left;
  animation: movin 1s ease-out forwards;
}

@keyframes movin {
  0% {
    width: 0;
  }
  100% {
    width: 66.666%;
  }
}

@keyframes slidin {
  0% {
    left: calc((33.333% / 2) + 25px);
  }
  100% {
    left: calc(83.3333265% - 38px);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.buttons {
  border-radius: 30px;
}
.blob-btn {
  z-index: 1;
  position: relative;
  padding: 1rem 3rem;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #ffffff;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #c7bfb3;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}
