@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  @font-face {
    font-family: "Mona Sans";
    src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
      url("/fonts/Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.combat {
  /* Fallback: assume this color ON TOP of image */
  background: url("/images/combat.png") repeat 2%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.combatsmall {
  /* Fallback: assume this color ON TOP of image */
  background: url("/images/combat.png") repeat 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-wombatbig {
  background-image: url("/images/robot2.png");
  background-size: 60rem;
  background-position: 160%;
  background-repeat: no-repeat;
}

.bg-screwdriver {
  background-size: 40rem;
  background-position: 100% -8rem;
  background-repeat: no-repeat;
}

.animation-line::after {
  bottom: 2.88rem;
  left: 3.5rem;
  animation: slidin 1.5s ease-in-out forwards 1.7s, pulse 1s infinite alternate;
  box-shadow: 0px 0px 8px 4px #8f9853;
}

.animation-line {
  width: 0;
  text-align: left;
  animation: movin 1.2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.spacer {
  z-index: -1;
  aspect-ratio: 1020/200;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
  background-image: url("/images/wave.svg");
  margin-bottom: 2rem;
}

@keyframes movin {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

@keyframes slidin {
  0% {
    left: 3.5rem;
  }
  100% {
    left: calc(20% + 2.5rem);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 16px 8px #8f9853;
  }
  100% {
    box-shadow: 0px 0px 8px 4px #8f9853;
  }
}

.dot::before {
  content: "";
  display: inline-block;
  width: 4px; /* Adjust size as needed */
  height: 4px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: black;
  margin: 0 10px; /* Adjust margin as needed */
}

/* Hide dot if adjacent items are not present */
.item:first-child + .dot,
.item:last-child + .dot {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.buttons {
  border-radius: 30px;
}
.blob-btn {
  z-index: 1;
  position: relative;
  padding: 1rem 3rem;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #ffffff;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #EBE2D3;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

/*too lazy*/

@media screen and (min-width: 1024px) {
  .card:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .card:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .card:nth-of-type(4) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .card:last-of-type {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

@media screen and (min-width: 1024px) {
  .card:first-of-type {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .card:nth-of-type(2) {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  .card:nth-of-type(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .card:nth-of-type(4) {
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .card:last-of-type {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 8;
  }
}
/**[5px_5px_#739954,_10px_10px_#8F9853,_15px_15px_#998B54]*/

@media screen and (min-width: 1024px) {
  .isus:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .isus:nth-of-type(6) {
    grid-column-start: 4;
    grid-column-end: 6;
  }

  .isus:nth-of-type(7) {
    grid-column-start: 6;
    grid-column-end: 8;
  }
}

.popup::before {
  content: "";
  background: linear-gradient(to right, #739954e6, #998b54e6);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 105%;
  left: -2.5%;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.popup:hover::before {
  bottom: 0;
  height: 100%;
}

.popup {
  z-index: 1;
}

.bg-slide {
  background-position: 0rem -0.6rem;
}

.bg-slide:hover {
  background-position: 1rem -0.8rem;
}

.base {
  display: inline !important;
}

/*.base:last-of-type:not(:only-child) {
  display: block !important;
  margin-left: auto;
}*/
@media (min-width: 1536px) {
  .language-java {
    font-size: 1.125rem !important;
  }
}

@media (min-width: 1920px) {
  .language-java {
    font-size: 1.25rem !important;
  }
}

.sheen {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;

  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
  background-size: 250% 250%, 100% 100%;

  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.sheen:hover {
  background-position: 0 0, 0 0;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
